<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>RainbowUI</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link href="http://rainbow.ebaotech.com/static/rainbow/vendor/2.0.0/vendor.min.css" rel="stylesheet">
        <link href="http://rainbow.ebaotech.com/static/rainbow/ui/2.0.0/core.min.css" rel="stylesheet">
    </head>
<body>
    <div id="app" style="display: none"></div>
    <script src="http://rainbow.ebaotech.com/static/rainbow/ui/2.0.0/loading.min.js"></script>
    <script src="http://rainbow.ebaotech.com/static/rainbow/vendor/2.0.0/vendor.min.js"></script>
    <script src="http://rainbow.ebaotech.com/static/rainbow/foundation/1.0.2/util.js"></script>
</body>
</html>
